@model List<MyToDoItem>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Check out this neat list y'all!</h1>
    <p>
        
    </p>
</div>

@foreach (var item in Model)
    {
    <p>Name: @item.Name</p>
    <p>Id: @item.Id</p>
    <p>IsComplete: @item.IsComplete</p>
    }